body {
  background: #131313
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.header{
    background-color: #000000;
    height: 80px;
    margin-bottom:16px;
    color:white;
    place-items: center;
    padding: 0 80px;
    justify-content: space-between;
}
.header .logo{
    font-size:30px;
}
.header nav{
    display: flex;
    gap:10px;
    height: 100%;
}
.header nav a{
    display: flex;
    place-items: center;
    padding: 0 20px;
}

.voting {
    gap:25px;
    place-items: center;
    height: 75vh;
}
.vote-title{
    font-size: 40px;
    color: white;
    font-weight: 900;
    font-family: 'Roboto';

}
.voted{
    font-size: 22px;
    text-transform: lowercase;
    text-align: center;
    padding: 0 20px;
}
.voted:first-letter {text-transform: uppercase}
.cards-vote{
    display: flex;
    flex-flow: row;
    gap:15px;
    
}
.cards-vote button:nth-of-type(1){
    background: rgb(144, 256, 144);
}
.cards-vote button:nth-of-type(2){
    background: rgb(144,144,256);
}
.cards-vote button {
    width: 450px;
    height: 300px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    padding: 50px;
}
.comment-section{
    border-radius: 10px 10px 0 0;
    background-color: #222;
    color:white;
    padding:20px 20px 80px;
    gap:15px;
    
}
.comment-section h1{
    font-size: 40px;
    font-weight: 900;
    font-family: 'Roboto';
    
}
.comment{
    height:70px;
    gap:10px;
}
.comment b{
    font-size:24px;
}
.comment img{
    height:70px;
}



footer{
    color:white;
    height:80px;
    padding: 5px 20px;
    background-color: black;
}